<h1>Closed tickets</h1>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Assigned To</th>
        <th class="text-center">Owner</th>
        <th class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets" class="text-center">
        <td>{{ ticket.title }}</td>
        <td class="text-sm-center">
          <span class="tag tag-pill tag-default">
            {{ ticket.assignee.email }}
          </span>
        </td>
        <td class="text-sm-center">
          <span class="tag tag-pill tag-default">
            {{ ticket.owner.email }}
          </span>
        </td>
        <td class="text-sm-center">
          <span class="tag tag-pill">{{ ticket.ticketStatus.title }}</span>
        </td>
        <td class="text-sm-center">
          <a target="_blank" [href]="generateLink" title="print">
            <i class="fa fa-print lg padding-5"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
